<section class="hero container">
    <h1 class="hero__title">Насладись прогулкой в горах
    с командой единомышленников</h1>
    <div class="hero__form-container">
        <form class="hero__form form>">
            <ul class="form__list">
                <li class="form__item">
                    <select class="form__select form__input"><option>Локация для тура</option></select>
                    <span class="form__description">выберите из списка</span>
                </li>
                <li class="form__item">
                    <input class="form__input" type="date">
                    <span class="form__description">укажите диапазон</span>
                </li>
                <li class="form__item">
                    <select class="form__select form__input"><option>Участники</option></select>
                    <span class="form__description">минимум 4 человека</span>
                </li>
            </ul>
            <button class="form__button button" type="button">Найти программу</button>
        </form>
    </div>
</section>