<section class="popular container">
    <div class="popular__wrapper">
        <span class="popular__description title__description">по версии отдыхающих</span>
        <h2 class="popular__title title">Популярные направления</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="popular__image-wrapper">
                        <img class="popular__image" src="../../img/popular_lake_mobilejpg.jpg" width="285" height="400" alt="Озеро возле гор">
                        <p class="popular__star-wrapper">
                            <span class="popular__star"></span>
                            <span class="popular__star-number">4.9</span>
                        </p>
                        <div class="popular__text-wrapper">
                            <p class="popular__name-wrapper">
                                <span class="popular__name">Озеро возле гор</span>
                                <span class="popular__name-description">романтическое приключение</span>
                            </p>
                            <span class="popular__price">480 $</span>
                            <p class="popular__text">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</p>
                            <button class="popular__text-button button" type="button">Программа тура</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="popular__image-wrapper">
                        <img class="popular__image" src="../../img/popular__night_mobile.jpg" width="285" height="400" alt="Озеро возле гор">
                        <p class="popular__star-wrapper">
                            <span class="popular__star"></span>
                            <span class="popular__star-number">4.9</span>
                        </p>
                        <div class="popular__text-wrapper">
                            <p class="popular__name-wrapper">
                                <span class="popular__name">Ночь в горах</span>
                                <span class="popular__name-description">в компании друзей</span>
                            </p>
                            <span class="popular__price">500 $</span>
                            <p class="popular__text">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</p>
                            <button class="popular__text-button button" type="button">Программа тура</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="popular__image-wrapper">
                        <img class="popular__image" src="../../img/popular_yoga_mobile.png" width="285" height="400" alt="Озеро возле гор">
                        <p class="popular__star-wrapper">
                            <span class="popular__star"></span>
                            <span class="popular__star-number">4.9</span>
                        </p>
                        <div class="popular__text-wrapper">
                            <p class="popular__name-wrapper">
                                <span class="popular__name">Йога в горах</span>
                                <span class="popular__name-description">для тех, кто забоится о себе</span>
                            </p>
                            <span class="popular__price">230 $</span>
                            <p class="popular__text">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</p>
                            <button class="popular__text-button button" type="button">Программа тура</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="popular__button button">Рейтинг направлений</button>
    </div>
</section>