<header class="main-header container">
    <a class="main-header__logo logo">
        <img class="logo__image" src="#" alt="Logo">
    </a>
    <nav class="main-nav  main-nav--is-close">
        <button class="main-nav__toggle" type="button">
            <span class="visually-hidden">Открыть меню.</span>
        </button>
        <ul class="main-nav__list">
            <li class="main-nav__item">
                <a class="main-nav__link" href="#">Главная</a>
            </li>
            <li class="main-nav__item">
                <a class="main-nav__link" href="#">Про гида</a>
            </li>
            <li class="main-nav__item">
                <a class="main-nav__link" href="#">Программа тура</a>
            </li>
            <li class="main-nav__item">
                <a class="main-nav__link" href="#">Стоимость</a>
            </li>
            <li class="main-nav__item">
                <a class="main-nav__link" href="#">Блог</a>
            </li>
            <li class="main-nav__item">
                <a class="main-nav__link" href="#">Контакты</a>
            </li>
        </ul>
        <button class="main-nav__button button" type="button">Консультация</button>
    </nav>
</header>
